footer.bg-dark.p-3.mt-3.text-center.text-white.position-relative.fixed-bottom
  .container
    p.lead Copyright &copy; 2023 by TeachTeam.
    a.position-absolute.bottom-0.end-0
      i.bi.bi-arrow-up-circle.h1
