extends base 

block content
  .container(style='height:100vh')
    .row
      .col
        .row.justify-content-center.align-items-center(style='height:100vh')
          .col-9.py-5.my-3
            h3.text-center Create New Student
            .student-form-box.py-1.d-flex.justify-content-center
              .py-3
                form#addStudent(action='#')
                  label.form-label(for='studentName') Name
                  input.form-control.mb-1#studentName(type='text' placeholder='Name')

                  label.form-label(for='studentClass') Class
                  input.form-control.form-control.mb-1#studentClass(type='text' placeholder='Class')

                  label.form-label(for='classTimeFrom') Time: From
                  input.form-control#classTimeFrom.d-block(type='time')
                  label.form-label(for='classTimeTo') Time: To
                  input.form-control#classTimeTo.d-block.mb-2(type='time')

                  label.form-label Instructor
                  .w-100.mb-1
                    select.form-control#studentInstructor(placeholder='Off Days' multiple multiselect-search='true' style='width:50vw')
                      each teacher in teachers
                        option(value=`${teacher._id}`)= teacher.name
                    .mt-2
                  label.form-label(for='vacation') Off Days
                  .w-100.mb-1
                    select.form-control#vacation(placeholder='Off Days' multiple multiselect-search='true' style='width:50vw')
                      option(value="sunday") Sunday
                      option(value="monday") Monday
                      option(value="tuesday") Tuesday
                      option(value="wednesday") Wednesday
                      option(value="thursday") Thursday
                      option(value="friday") Friday
                      option(value="saturday") Saturday
                    .mt-2
                      .form-check
                        input.form-check-input#studentMale(type='radio' name='gender' checked value='male')
                        label.form-check-label Male
                      .form-check
                        input.form-check-input#studentFemale(type='radio' name='gender' value='female')
                        label.form-check-label Female
                    button.btn.btn-outline-primary.my-3(type='submit') Save Changes