extends base

block content
  //Teacher Change Password
  .container(style='height:100vh')
    .row
      .col
        .row.justify-content-center.align-items-center(style='height:80vh').mt-5.pt-5
          .col-md-7.col-sm-12.col-12.col-lg-7
            img.rounded-circle.mb-2(src=`/images/users/${user.photo}` width='80')
            h3.text-center.d-inline.mx-3 Change Profile
            .changePassword-form-box.p-3.row.justify-content-center.align-items-center
              .col-12
                form#changeProfilePicForm(action='#' autocomplete='off')
                  label.form-label(for='profilePicture') Photo
                  input.form-control#profilePicture(type='file' accept='image/*' name='profilePicture')
                  button.btn.btn-outline-primary.mt-3(type='submit') Save Changes


            h3 Change Password
            .changePassword-form-box.p-3.row.justify-content-center.align-items-center
              .col-12
                form#changePasswordForm(action='#' autocomplete='off')
                  .form-floating
                    input.form-control.mb-1.form-control-sm#currentPassword(type='password' placeholder='Current Password' autocomplete='off')
                    label.form-label(for='password') Current Password 
                  .form-floating
                    input.form-control.form-control-sm.mb-1#password(type='password' placeholder='New Password' autocomplete='off') 
                    label.form-label(for='password') New Password
                  .form-floating
                    input.form-control.form-control-sm.mb-1#confirmPassword(type='password' placeholder='Confirm Password' autocomplete='off') 
                    label.form-label(for='password') Confirm Password
                    button.btn.btn-outline-primary.mt-3(type='submit') Save Changes
